---
import Layout from '~/layouts/Layout.astro';
import ThreeDEffectWrap from '~/components/ThreeDEffectWrap.astro';
import Card from '~/components/Card.astro';
---

<Layout>
  <div
    id="app"
    class="max-w-[300px] transition-opacity duration-500"
    style="opacity: 0;"
  >
    <ThreeDEffectWrap>
      <Card />
    </ThreeDEffectWrap>
  </div>
</Layout>

<script>
  import { getHTMLElement } from '~/utils';

  const appEl = getHTMLElement('#app');
  window.appReady = function () {
    appEl.style.opacity = '1';
  };
</script>
