---
import Layout from '~/layouts/Layout.astro';
import ThreeDEffectWrap from '~/components/ThreeDEffectWrap.astro';
---

<Layout>
  <div class="h-[400px] w-[300px]">
    <ThreeDEffectWrap />
  </div>
</Layout>
