---
import '~/style.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="My IP Country" />
    <meta
      property="og:description"
      content="Our website automatically detects your IP address to identify your location and provide essential information about your country. Gain immediate access to key details about your region for a more personalized experience."
    />
    <meta property="og:image" content="" />

    <title>My IP Country</title>
    <meta
      name="description"
      content="Our website automatically detects your IP address to identify your location and provide essential information about your country. Gain immediate access to key details about your region for a more personalized experience."
    />
  </head>

  <body>
    <slot />
  </body>
</html>
