---
import '~/style.css';
import ThemeToggleBtn from '~/components/ThemeToggleBtn.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="My IP Country" />
    <meta
      property="og:description"
      content="Our website automatically detects your IP address to identify your location and provide essential information about your country. Gain immediate access to key details about your region for a more personalized experience."
    />
    <meta property="og:image" content="" />

    <title>My IP Country</title>
    <meta
      name="description"
      content="Our website automatically detects your IP address to identify your location and provide essential information about your country. Gain immediate access to key details about your region for a more personalized experience."
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=dark_mode,groups,light_mode,location_on,paid,public,translate"
    />
  </head>

  <body>
    <ThemeToggleBtn />
    <slot />
  </body>
</html>
